
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  margin: 50px;
  background-color: #e9e9e9;
}

.card {
  margin: 0.5em 0;
  border: none;
  border-radius: 0;
}

.card-header {
  padding: 0.5rem 1.25rem;
  background: #ffffff;
}

.rs-post-time {
  font-size: 1em;
  font-weight: 200;
}

body b, body strong {
  font-weight: 700;
}

body at, span[itemtype="http://schema.skype.com/Mention"] { 
  color: #6264a7;
}

.popover, .tooltip, body {
  font-family: "Segoe UI","Helvetica Neue","Apple Color Emoji","Segoe UI Emoji",Helvetica,Arial,sans-serif;
}